*{
	font-family: 'Noto Sans', sans-serif;
}
:root{
	--main-accent-color:#019875;
}
h3{
	color:var(--main-accent-color);
}
.main-content{
	height: auto;
	width:100%;
	padding: 30px;
}
h5{
	color:gray;
	margin-top: 10px;
}

.sec{
	width: 90%;
	height: auto;
	padding: 30px;
	background-color: var(--main-accent-color);
	margin-top: 50px;

}

h6{
	color:white;
}
.sec-hr{
	width: 70%;
	height: 2px;
	margin-left:20px;
	color: white;
}
.sec-btn{
	margin-top: 20px!important;
	background: transparent;
	color:white!important;
	border:none;
}
.sec-btn:hover{
	cursor: pointer;
}
