*{
	font-family: 'Poppins', sans-serif;
}
:root{
	--main-accent-color:#866ec7;
}
h3{
	color:var(--main-accent-color);
}
.main-content{
	height: auto;
	width:100%;
	padding: 30px;
}
table{
	color:gray!important;
	padding: 20px!important;
}